# Virtual environments
.venv/

# Data outputs
*.json
*.jsonl

# Plots
plots/
*.png

# PDFs
*.pdf

*.csv

report

/notebooks/*
!/notebooks/entropy_analysis.ipynb
/extra/

/data/**
!/data/**/

__pycache__


!results/
!results/**